{% for f in self.display_name %} 
<h1>{{f.help}}</h1>
{% endfor %}

<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">

  <ul class="list-input settings-list">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" 
                    for="display_name">Display Name</label>
                <input class="input setting-input" name="display_name" id="display_name" value="{{ self.display_name }}" type="text" />
            </div>
        <!-- <span class="tip setting-help">{{ self.display_name.help}}</span> -->
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" 
                    for="height">Height</label>
                <input class="input setting-input" name="height" id="height" value="{{ self.height }}" type="text" />
            </div>
        <!-- <span class="tip setting-help">{{self.height.help}}</span> -->
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" 
                    for="language">Language</label>
                <select id="language">
                    {% for lang in self.LANGUAGE_CHOICES %} 
                        <option value="{{lang.value}}">
                            {{lang.display_name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" 
                    for="theme">Theme</label>
                <select id="theme">
                    {% for theme in self.THEME_CHOICES %} 
                        <option value="{{theme.value}}">
                            {{theme.display_name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" 
                    for="code">Code</label>
                <textarea id="code-textarea">{{self.code_data}}</textarea>
            </div>
        </li>

    </ul>




<!-- <div id="prism_block">
    Code
    <div class="html-editor editor">
        <div class="row">
            <textarea id="code-textarea">{{self.code_data}}</textarea>
        </div>
    </div> -->
<!-- 
    Language 
        <select id="language">
        {% for lang in self.LANGUAGE_CHOICES %} 
            <option value="{{lang.value}}">
                {{lang.display_name}}
            </option>
        {% endfor %}
        </select> -->

    <!-- Theme 
        <select id="theme">
        {% for theme in self.THEME_CHOICES %} 
            <option value="{{theme.value}}">
                {{theme.display_name}}
            </option>
        {% endfor %}
        </select> -->

    <div class="xblock-actions">
        <ul>
          <li class="action-item">
            <a href="#" class="button action-primary save-button">Save</a>
          </li>
          <li class="action-item">
            <a href="#" class="button cancel-button">Cancel</a>
          </li>
        </ul>
    </div>
</div>